.index-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.index-container h1 {
    margin: 0;
}

.container h1 {
    font-size: 5rem;
    color: white;
}

.index-container h1 i {
    color:navy;
}

.index-form-container {
    background-color: white;
    margin: 15px;
    width: 45%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}

.index-form-container input{
    border: 1px solid transparent;
    padding: 15px;
    border-radius: 10px;
}

.index-form-container button {
    color: white;
    background-color: navy;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
    border: 1px solid transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.index-form-container button i {
    font-size: 1.25rem;
    color: white;
}

.index-form-container button:hover {
    background-color: #2ebf91;
    border: 1px solid #2ebf91b9;
    color: #F3F5F7;
}