.message-container {
    background-color: white;
    margin: 15px;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.message span {
    margin: 0 15px;
}

.message {
    display: flex;
}

.message img {
    width: 50px;
    border-radius: 25px;
    margin-right: 10px;
}