.nav {
   background-color: transparent;
    width: 96%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    color: white;
}

.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.nav-icon-container {
    display: flex;
    /* width: 30%; */
    margin-left: 70px;
    align-items: baseline;
}

.nav-icon-container h1 {
    font-size: 2rem;
}

.nav i {
    color:navy;
}